<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        /*
        v-model
        页面和内存中的内容同步

        <div id="app">
    <!-- <input v-model="message" placeholder="edit me"> -->
    <textarea v-model="message" placeholder="edit me"/>
    <p>Message is : {{message}}</p>
    <p><button @click="message = 'frank'">set msg to frank</button></p>
  </div>

  <div>
    不良爱好-{{x}}
    </div>
  <label>
    <input type="checkbox" v-model="x" :value="1">
    <span>ss</span>
  </label><br>
  <label>
    <input type="checkbox" v-model="x" :value="2">
    <span>dd{{y}}</span>
  </label><br>
  <label>
    <input type="checkbox" v-model="x" :value="3">
    <span>tt{{z}}</span>
  </label>

  <div>
      {{x}}
    </div>
  <label>
    <input name="ss" type="radio" v-model="x" :value="1">
    <span>ss</span>
  </label><br>
  <label>
    <input name="ss" type="radio" v-model="x" :value="2">
    <span>dd{{y}}</span>
  </label><br>
  <label>
    <input name="ss" type="radio" v-model="x" :value="3">
    <span>tt{{z}}</span>
  </label>

  <div>{{x}}</div>
    <hr>
    <select multiple v-model="x">
      <option value disabled> - </option>
      <option v-for="item in array" :value="item.value" :key="item.value">{{item.text}}</option>
    </select>


        */
    </script>
</body>

</html>